[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "owocr"
version = "1.18"
description = "Japanese OCR"
readme = "README.md"
requires-python = ">=3.11"
authors = [
    {name = "AuroraWright", email = "fallingluma@gmail.com"}
]
license = "Apache-2.0"
classifiers = [
    "Programming Language :: Python :: 3",
]
dependencies = [
    "jaconv",
    "loguru",
    "numpy",
    "Pillow>=10.0.0",
    "pyperclipfix",
    "pynput<=1.7.8",
    "websockets>=14.0",
    "desktop-notifier>=6.1.0",
    "mss",
    "psutil",
    "requests",
    "pywin32;platform_system=='Windows'",
    "pyobjc;platform_system=='Darwin'"
]

[project.optional-dependencies]
faster-png = [
    "fpng-py"
]

easyocr = [
    "easyocr"
]

rapidocr = [
    "rapidocr>=3.4.0",
    "onnxruntime"
]

mangaocr = [
    "manga-ocr"
]

winocr = [
    "winocr"
]

oneocr = [
    "oneocr>=1.0.9"
]

lens = [
    "betterproto==2.0.0b7"
]

gvision = [
    "google-cloud-vision"
]

azure = [
    "azure-ai-vision-imageanalysis"
]

[project.urls]
Homepage = "https://github.com/AuroraWright/owocr"

[project.scripts]
owocr = "owocr.__main__:main"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
include = ["owocr", "owocr.*"]
