jaconv
loguru
numpy
Pillow>=10.0.0
pynputfix
websockets>=14.0
desktop-notifier>=6.1.0
pystrayfix
mss>=10.1.0
psutil
curl_cffi
pywin32;sys_platform=='win32'
pyobjc;sys_platform=='darwin'
pyperclip;sys_platform=='linux'
PyGObject;sys_platform=='linux'
dbus-python;sys_platform=='linux'
pywayland;sys_platform=='linux'

fpng-py

easyocr

rapidocr>=3.4.0
onnxruntime

meikiocr>=0.1.4

manga-ocr
setuptools<80
scipy
pyclipper
torchvision
torch-summary
opencv-python
shapely
transformers<5.0.0

winocrfix;sys_platform=='win32'

oneocr>=1.0.11;sys_platform=='win32'

protobuf>=6.33.2

google-cloud-vision

azure-ai-vision-imageanalysis
