%YAML 1.1
---

name: "Build Mac binary"

"on":
  workflow_call:
    inputs: &inputs_call
      name:
        description: |-
          The name of the created artifact.
        type: string
        required: true
        default: "binary-macos-arm64"
      runner:
        description: |-
          The runner to use for the job.
          Must run MacOS.
        type: string
        required: true
        default: "macos-15"
      python:
        description: |-
          The Python version to use for the job.
        type: string
        required: true
        default: "3.13"
      extras:
        description: |-
          The extras to include.
          This is added as suffix to `pip install .`.
          If specified, make sure to include square brackets.
        type: string
        required: false
        default: "[faster-png,easyocr,rapidocr,meikiocr,lens,gvision,azure]"
    outputs:
      artifact-name:
        description: |-
          The name of the artifact produced by the build.
        value: "${{ jobs.build.outputs.artifact-name }}"
      artifact-id: 
        description: |-
          The GitHub ID of the artifact produced by the build.
        value: "${{ jobs.build.outputs.artifact-id }}"
      artifact-url:
        description: |-
          The URL that can be used to download the artifact produced by the build.
          Requires GitHub login and the artifact to not have expired.
        value: "${{ jobs.build.outputs.artifact-url }}"
      artifact-digest:
        description: |-
          SHA-256 digest of the artifact produced by the build.
        value: "${{ jobs.build.outputs.artifact-digest }}"
  
  workflow_dispatch:
    inputs:
      <<: *inputs_call

jobs:
  build:
    name: "Build MacOS binary"
    
    runs-on: "${{ inputs.runner }}"

    steps:
      - 
        # https://github.com/actions/checkout/releases/tag/v6.0.1
        name: "Checkout repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          submodules: recursive
      - 
        # Potential issue: 
        # the actions/setup-python action also sets up pip dependency caching,
        # while installing Python directly like this does not.
        name: "Setup Python via Homebrew"
        run: |-
          brew install --overwrite python@$(cat .python-version)
          brew install --overwrite python-tk@$(cat .python-version)
      -
        name: "Create venv"
        run: |-
          python$(cat .python-version) -m venv .venv
      -
        name: "Setup Python dependencies"
        run: |-
          .venv/bin/python -m pip install --group="binary" .${{ inputs.extras }}
      -
        name: "Pin specific Python dependencies for Intel Macs"
        if: ${{ endsWith( inputs.runner, '-intel' ) }}
        run: |-
          .venv/bin/python -m pip install transformers==4.49 numpy==1.26.4 opencv-python-headless==4.10.0.84
      -
        name: "Build binary"
        run: |-
          .venv/bin/pyinstaller ./owocr_mac.spec
      - 
        # https://github.com/lando/code-sign-action/releases/tag/v3.0.0
        name: "Sign binary"
        uses: patroza/code-sign-action@fd06b04bd24e224ec6ce131c904363a06e3c4efa
        with:
          file: "dist/owocr.app"
          apple-team-id: "LUZK6JBS9B"
          certificate-data: ${{ secrets.APPLE_CERT_DATA }}
          certificate-password: ${{ secrets.APPLE_CERT_PASSWORD }}
          options: >-
            --options runtime 
            --entitlements entitlements.plist
      -
        name: "Create disk image"
        run: |-
          mv dist dmg
          ln -s /Applications dmg/Applications
          mkdir dist
          hdiutil create -volname "owocr" -srcfolder dmg -ov -format UDZO dist/owocr-${{ inputs.name }}.dmg
      - 
        # https://github.com/lando/code-sign-action/releases/tag/v3.0.0
        name: "Notarize disk image"
        uses: patroza/code-sign-action@fd06b04bd24e224ec6ce131c904363a06e3c4efa
        with:
          file: "dist/owocr.dmg"
          certificate-data: ${{ secrets.APPLE_CERT_DATA }}
          certificate-password: ${{ secrets.APPLE_CERT_PASSWORD }}
          apple-notary-user: ${{ secrets.APPLE_NOTARY_USER }}
          apple-notary-password: ${{ secrets.APPLE_NOTARY_PASSWORD }}
          apple-notary-tool: notarytool
          apple-team-id: "LUZK6JBS9B"
          apple-product-id: "moe.aury.owocr"
          options: >-
            --options runtime
      - 
        # https://github.com/actions/upload-artifact/releases/tag/v6.0.0
        id: upload
        name: "Upload build artifacts"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: &artifact_name "${{ inputs.name }}"
          path: dist/
    
    outputs:
      artifact-name: *artifact_name
      artifact-id: "${{ steps.upload.outputs.artifact-id }}"
      artifact-url: "${{ steps.upload.outputs.artifact-url }}"
      artifact-digest: "${{ steps.upload.outputs.artifact-digest }}"
