%YAML 1.1
---

name: "Build Windows binary"

"on":
  workflow_call:
    inputs: &inputs_call
      name:
        description: |-
          The name of the created artifact.
        type: string
        default: "binary-windows-x64"
      runner:
        description: |-
          The runner to use for the job.
          Must run Windows.
        type: string
        default: "windows-2025"
      python:
        description: |-
          The Python version to use for the job.
        type: string
        default: "3.13"
      extras:
        description: |-
          The extras to include.
          This is added as suffix to `pip install .`.
          If specified, make sure to include square brackets.
        type: string
        default: "[faster-png,easyocr,rapidocr,meikiocr,winocr,oneocr,lens,gvision,azure]"
    outputs:
      artifact-name:
        description: |-
          The name of the artifact produced by the build.
        value: "${{ jobs.build.outputs.artifact-name }}"
      artifact-id: 
        description: |-
          The GitHub ID of the artifact produced by the build.
        value: "${{ jobs.build.outputs.artifact-id }}"
      artifact-url:
        description: |-
          The URL that can be used to download the artifact produced by the build.
          Requires GitHub login and the artifact to not have expired.
        value: "${{ jobs.build.outputs.artifact-url }}"
      artifact-digest:
        description: |-
          SHA-256 digest of the artifact produced by the build.
        value: "${{ jobs.build.outputs.artifact-digest }}"

jobs:
  build:
    name: "Build Windows binary"

    runs-on: "${{ inputs.runner }}"
    
    steps:
      - 
        # https://github.com/actions/checkout/releases/tag/v6.0.1
        name: "Checkout repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          submodules: recursive
      -
        # https://github.com/actions/setup-python/releases/tag/v6.2.0
        name: "Setup Python via actions/setup-python"
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          # Get the latest Python version allowed by the package
          python-version-file: .python-version
          check-latest: true
          # Make caching explicit
          cache: pip
      -
        name: "Setup Python dependencies"
        run: |-
          pip install --group="binary" .${{ inputs.extras }}
      -
        name: "Build binary"
        run: |-
          pyinstaller ./owocr_win.spec
      -
        name: "Create zip"
        shell: pwsh
        run: |-
          mv dist zip
          New-Item -ItemType Directory -Path dist
          Compress-Archive -Path zip/owocr -DestinationPath dist/owocr-${{ inputs.name }}.zip
      - 
        # https://github.com/actions/upload-artifact/releases/tag/v6.0.0
        id: upload
        name: "Upload build artifacts"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: &artifact_name "${{ inputs.name }}"
          path: dist/
      
    outputs:
      artifact-name: *artifact_name
      artifact-id: "${{ steps.upload.outputs.artifact-id }}"
      artifact-url: "${{ steps.upload.outputs.artifact-url }}"
      artifact-digest: "${{ steps.upload.outputs.artifact-digest }}"
