name: Manual Build (macOS intel)

on:
  workflow_dispatch:  # This enables manual triggering
    inputs:
      branch:
        description: 'Branch to build from'
        required: true
        default: 'main'
        type: string

jobs:
  call-reusable-macos-intel-build:
    uses: ./.github/workflows/build-macos-intel.yml
