name: Manual Build (Linux)

on:
  workflow_dispatch:  # This enables manual triggering
    inputs:
      branch:
        description: 'Branch to build from'
        required: true
        default: 'main'
        type: string

jobs:
  call-reusable-linux-build:
    uses: ./.github/workflows/build-linux.yml
