name: Manual build

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build from'
        required: true
        default: 'main'
        type: string
      platform:
        description: 'Platform to build for'
        required: true
        type: choice
        options:
          - windows
          - macos
          - macos-intel

jobs:
  call-reusable-build:
    if: github.event.inputs.platform == 'windows'
    uses: ./.github/workflows/build-windows.yml
    with:
      branch: ${{ github.event.inputs.branch }}
    secrets: inherit

  call-reusable-macos-build:
    if: github.event.inputs.platform == 'macos'
    uses: ./.github/workflows/build-macos.yml
    with:
      branch: ${{ github.event.inputs.branch }}
    secrets: inherit

  call-reusable-macos-intel-build:
    if: github.event.inputs.platform == 'macos-intel'
    uses: ./.github/workflows/build-macos-intel.yml
    with:
      branch: ${{ github.event.inputs.branch }}
    secrets: inherit
