%YAML 1.1
---

# [ Create a new package each time a tag starting with "v" is pushed ]
#
# Various sources used to build the workflow:
# - https://docs.pypi.org/trusted-publishers/
# - https://docs.pypi.org/trusted-publishers/using-a-publisher/
# - https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi
# - https://docs.github.com/en/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job
# - https://github.com/actions/setup-python/blob/main/docs/advanced-usage.md
#
# The version of all actions is pinned with a Git commit hash instead of a Git tag.
# Git tags can be overwritten, so the behavior of the action might unexpectedly change.
# In case of a malicious overwrite, it can give an attacker control over the build process!
#

name: "Publish Python package"

"on":
  push:
    tags:
      - "v*"

jobs:
  build:
    name: "Build package"
    runs-on: ubuntu-slim

    steps:
      - 
        # https://github.com/actions/checkout/releases/tag/v6.0.1
        name: "Checkout repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      -
        # https://github.com/actions/setup-python/releases/tag/v6.2.0
        name: "Setup Python"
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          # Get the latest Python version allowed by the package
          python-version-file: pyproject.toml
          check-latest: true
      -
        name: "Update Ubuntu package indexes"
        run: |-
          sudo apt-get update
      -
        name: "Install Linux dependencies"
        run: |-
          sudo apt-get install --yes libwayland-dev wayland-protocols libcairo2-dev libdbus-1-dev libgirepository-2.0-dev
      -
        name: "Setup Python dependencies"
        run: |-
          pip install .
      -
        name: "Build package"
        run: |-
          python -m build
      -
        # https://github.com/actions/upload-artifact/releases/tag/v6.0.0
        name: "Upload build artifacts"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: "package"
          path: dist/
  
  installer:
    name: "Build binaries"

    # Build on multiple platforms
    strategy:
      matrix:
        platform:
          -
            name: "windows"
            runner: "windows-latest"
            spec: "./owocr_win.spec"
          -
            name: "macos"
            runner: "macos-latest"
            spec: "./owocr_mac.spec"
          -
            name: "linux"
            runner: "ubuntu-latest"
            spec: "./owocr_linux.spec"
    
    # Get the runner from the matrix
    runs-on: "${{ matrix.platform.runner }}"

    steps:
      - 
        # https://github.com/actions/checkout/releases/tag/v6.0.1
        name: "Checkout repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      -
        # https://github.com/actions/setup-python/releases/tag/v6.2.0
        name: "Setup Python via actions/setup-python"
        if: ${{ matrix.platform.name != 'macos' }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          # Get the latest Python version allowed by the package
          python-version-file: pyproject.toml
          check-latest: true
      - 
        name: "Setup Python via Homebrew"
        if: ${{ matrix.platform.name == 'macos' }}
        run: |-
          brew install python-tk@3.13
          echo "$(brew --prefix python@3.13)/bin" >> $GITHUB_PATH
      -
        name: "Update Ubuntu package indexes"
        if: ${{ matrix.platform.name == 'linux' }}
        run: |-
          sudo apt-get update
      -
        name: "Install Linux dependencies"
        if: ${{ matrix.platform.name == 'linux' }}
        run: |-
          sudo apt-get install --yes libwayland-dev wayland-protocols libcairo2-dev libdbus-1-dev libgirepository-2.0-dev
      -
        name: "Setup Python dependencies"
        run: |-
          pip install .
          pip install pyinstaller
      -
        name: "Build binary"
        run: |-
          pyinstaller ${{ matrix.platform.spec }}
      -
        name: "Create MacOS .dmg"
        if: ${{ matrix.platform.name == 'macos' }}
        run: |-
          mv dist dmg
          ln -s /Applications dmg/Applications
          mkdir dist
          hdiutil create -volname "owocr" -srcfolder dmg -ov -format UDZO dist/owocr.dmg
      - 
        # https://github.com/actions/upload-artifact/releases/tag/v6.0.0
        name: "Upload build artifacts"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: "binary_${{ matrix.platform.name }}"
          path: dist/
  
  # Publish in a separate job so that build steps do not have access to secrets
  publish:
    name: "Publish package"

    # Wait for the build step to have completed
    needs:
      - build
    
    # ubuntu-slim does not work with pypa/gh-action-pypi-publish because it doesn't have Docker
    # Using ubuntu-latest instead
    runs-on: ubuntu-latest

    # https://docs.github.com/en/actions/how-tos/secure-your-work/security-harden-deployments/oidc-in-pypi
    # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#jobsjob_idpermissions
    # Get an OAuth2 ID token to use to authenticate to PyPI
    permissions:
      id-token: write

    # Publish to multiple indexes
    strategy:
      matrix:
        index:
          - 
            name: "pypi-test"
            upload-to: "https://test.pypi.org/legacy/"
            available-at: "https://test.pypi.org/project/owocr/"
          -
            name: "pypi"
            upload-to: "https://pypi.org/legacy/"
            available-at: "https://pypi.org/project/owocr/"

    # Display environment badge on GitHub page
    environment:
      name: "${{ matrix.index.name }}"
      url: "${{ matrix.index.available-at }}"

    steps:
      -
        # https://github.com/actions/download-artifact/releases/tag/v7.0.0
        name: "Download build artifacts"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "package"
          path: dist/
      -
        # https://github.com/pypa/gh-action-pypi-publish/releases/tag/v1.13.0
        name: "Publish build artifacts"
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
        with:
          repository-url: "${{ matrix.index.upload-to }}"

  release:
    name: "Create GitHub release"

    needs:
      - build
      - installer
    
    runs-on: ubuntu-slim

    # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#jobsjob_idpermissions
    permissions: 
      # Release requires contents: write permission.
      # Kinda weird, but I guess it's because it might need to create a tag?
      contents: write

    steps:
      -
        # https://github.com/actions/download-artifact/releases/tag/v7.0.0
        name: "Download package build artifacts"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "package"
          path: dist/package/
      -
        # https://github.com/actions/download-artifact/releases/tag/v7.0.0
        name: "Download Windows binary build artifacts"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "binary_windows"
          path: dist/binary_windows/
      -
        # https://github.com/actions/download-artifact/releases/tag/v7.0.0
        name: "Download MacOS binary build artifacts"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "binary_macos"
          path: dist/binary_macos/
      -
        # https://github.com/actions/download-artifact/releases/tag/v7.0.0
        name: "Download Linux binary build artifacts"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "binary_linux"
          path: dist/binary_linux/
      # TODO
